/*main body*/
body {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.8;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

/*accent*/
a,
a:hover {
    color: #15ab88;
    text-decoration: none;
    word-break: break-word;
}

html,
button,
input,
select,
textarea {
    color: #333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*horizontal ruler/line*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

/*images and figures*/
img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*block quotes*/
blockquote {
    color: #9198a1;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.4;
    margin-left: 1rem;
    padding-left: 15px;
    margin: 0;
    padding: 0 1em;
    border-left: 0.25em solid #f5f7f9;
}

blockquote cite {
    font-size: 70%;
    opacity: 0.8;
}

a,
a:hover {
    color: #15ab88;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: raleway, sans-serif;
    line-height: 1.2;
    color: #333;
    font-weight: 200;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

/* unordered lists */
ul {
    padding-left: 15px;
    list-style-type: disc;
    list-style-position: outside;
}

ul li {
    display: list-item;
    margin-left: 0;
    margin-bottom: 0;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: 0.1rem;
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

.site-title a {
    color: #333;
    text-decoration: none !important;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    background-color: transparent !important;
    width: 100%;
    box-sizing: border-box;
}

.highlight {
    background: 0 0;
    background-color: #f5f7f9;
}

/*inline code and code blocks*/
code,
pre {
    display: inline-block;
    background-color: #f5f7f9;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

code {
    padding: 1px 1px;
}

pre {
    max-width: 100%;
    overflow-x: auto;
    padding: 16px 20px;
    margin: 20px 0;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.3em;
}

.header h2 {
    font-size: 1.125rem;
}

.header nav {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
}

.header nav ul,
.header nav li {
    margin: 0;
}

.header nav ul.flat {
    padding: 0;
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
    margin-right: 5px;
}

.post .post-header .meta {
    padding-left: 5px;
    margin-top: 10px;
}

.post .draft-label {
    color: #15ab88;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.post-tags .tags a {
    display: inline-block;
    border: 1px solid #15ab88;
    border-radius: 4px;
    padding: 0px 6px;
    color: #15ab88;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
    text-align: right;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;
    margin-top: 40px;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

table th {
    background-color: #f4f4f4;
}

table th,
table td {
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }
}

.recent-posts .posts .post .summary-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}