<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h1>Entries tagged - "{{ .Data.Term }}"</h1>
		{{ else }}
			<h1 class="page-title">Posts</h1>

			{{/* Show all available tags at the top of the All Posts page (not on individual tag pages). */}}
			{{ with .Site.Taxonomies.tags }}
			<div class="post-tags all-tags">
				<nav class="nav tags">
					<ul class="flat">
						{{ range .ByCount }}
						<li><a href="{{ .Page.RelPermalink }}">{{ .Name }} <span class="tag-count">{{ .Count }}</span></a></li>
						{{ end }}
					</ul>
				</nav>
			</div>
			{{ end }}
		{{ end }}

		{{ with .Content }}{{ . }}{{ end }}

		<ul class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
